<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Groovy</servlet-name>
		<servlet-class>groovy.servlet.GroovyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groovy</servlet-name>
		<url-pattern>*.groovy</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.groovy</welcome-file>
	</welcome-file-list>
</web-app>
